<%- include('../common/head')%>
<body>
    <header>
        <%- include('../common/header')%>
    </header>

    <div class="all-cont">
        <div class="about_us">
            <h2>OUR COMPANY</h2>
            <div class="mission">
              <span>MISSION</span>
              <p>Our mission is to transport your cargo with high speed and good quality. </p>
            </div>
            <span>NAME</span>
            <p>Company’s name is come from a Chinese idiom stories: 擎天架海 (Prop up the sky and wear the sea). </p>
            <span>HISTORY</span>
            <p>Shanghai Sky-xing International Transportation Co., Ltd. has been established since 2005. We are an international freight forwarder offering import and export freight forwarding, specialized service for over 50 countries. We supply service base on Shanghai International Airpot. We cooperate with major cargo airlines and local companies to take care of your transportation needs at an acceptable rate.</p>
            <img src="img/intro.jpg" width = 700 alt="">
            <span>OUR COMMITMENT</span>
            <p>
              Thank you for considering Shanghai Sky-xing International Transportation Co., Ltd. to provide your important transportation and logistics needs. Our vision and commitment to our customers is to deliver quality service and personal attention.
          
            </p>
          </div>
    </div>

        
    <footer>
        <%- include('../common/footer')%>
    </footer>
</body>
</html>