
<div class="navbar">
    <a href="/" class="logo"> <i class="fas fa-paper-plane"></i> travel </a>

<nav class="navlist">
    <a href="/">home</a>
    <a href="/about">about</a>
    <a href="#">destination</a>
    <a href="#">service</a>
    <a href="#">gallery</a>
    <a href="#">blog</a>
</nav>

<a href="#" class="btn">book now</a>


</div>
    


